In [2]:
import pandas as pd
import os

In [3]:
def load_csv(folder_path):
    dataframes = []
    file = 1

    for filename in os.listdir(path):
        if filename.endswith('.csv'):
            file_path = os.path.join(folder_path, filename)
            df = pd.read_csv(file_path)
            dataframes.append(df)
            print("File", file, "complete")
            file += 1

    combined_df = pd.concat(dataframes, ignore_index=True)
    return combined_df


path = "Datasets"
df = load_csv(path)
print(path, "loaded into one df.")

File 1 complete

C:\Users\dave\AppData\Local\Temp\ipykernel_13896\1446555581.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 2 complete

C:\Users\dave\AppData\Local\Temp\ipykernel_13896\1446555581.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 3 complete

C:\Users\dave\AppData\Local\Temp\ipykernel_13896\1446555581.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 4 complete

C:\Users\dave\AppData\Local\Temp\ipykernel_13896\1446555581.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 5 complete
File 6 complete
Datasets loaded into one df.

In [4]:
pickle_file_path = os.path.join(path, 'combined_data.pk1')
df.to_pickle(pickle_file_path)
print(f"DataFrame saved at: {pickle_file_path}")

DataFrame saved at: Datasets\combined_data.pk1

In [5]:
df

,Unnamed: 0,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,baro_altitude,latitude_in_10min,longitude_in_10min,baro_altitude_in_10min,callsign,onground,alert,spi,squawk,altitude,last_position,hour
0,1081344,2022-10-30 21:29:07,484133,50.280304,2.691000,524.069199,32.295105,0.0,34000.0,51.483078,3.806911,17550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1081404,2022-10-30 21:30:07,484133,50.403076,2.812572,523.759989,32.446022,-64.0,34000.0,51.590744,3.887824,15500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1081464,2022-10-30 21:31:07,484133,50.525436,2.934795,525.140480,32.479560,-960.0,33000.0,51.692210,3.963928,13425.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1081526,2022-10-30 21:32:09,484133,50.651023,3.060657,530.969409,32.462916,-896.0,32025.0,51.791087,4.038773,11300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1081586,2022-10-30 21:33:09,484133,50.777573,3.188336,535.111675,32.561525,-1984.0,30625.0,51.883118,4.107254,10500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742070,853824,2022-11-29 22:09:57,48455a,52.327881,4.723129,145.278916,183.551733,-64.0,NaN,NaN,NaN,NaN,KLM76T,False,False,False,6723.0,NaN,2022-11-29 22:09:56.916,1.669756e+09
8742071,853825,2022-11-29 22:09:58,48455a,52.327847,4.723129,145.278916,183.551733,-64.0,NaN,NaN,NaN,NaN,KLM76T,False,False,False,6723.0,NaN,2022-11-29 22:09:57.423,1.669756e+09
8742072,853826,2022-11-29 22:09:59,48455a,52.327776,4.723238,145.278916,183.551733,-64.0,NaN,NaN,NaN,NaN,KLM76T,False,False,False,6723.0,NaN,2022-11-29 22:09:58.556,1.669756e+09
8742073,853827,2022-11-29 22:10:00,48455a,52.327695,4.723474,145.278916,183.551733,-64.0,NaN,NaN,NaN,NaN,KLM76T,False,False,False,6723.0,NaN,2022-11-29 22:09:59.996,1.669756e+09
8742074,853828,2022-11-29 22:10:01,48455a,52.327641,4.723587,145.278916,183.551733,-64.0,NaN,NaN,NaN,NaN,KLM76T,False,False,False,6723.0,NaN,2022-11-29 22:10:00.930,1.669756e+09