In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt

In [2]:
flights_dict = pd.read_pickle('barcelona_amsterdam_flights.pkl')

In [3]:
df = pd.concat(flights_dict.values(), ignore_index=True)

In [4]:
df.head()

,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,callsign,onground,alert,spi,squawk,baro_altitude,altitude,last_position,hour
0,2023-07-02 17:09:58,343046,41.290718,2.098888,122.653879,65.942651,64.0,VLG8021,False,False,False,NaN,100.0,NaN,2023-07-02 17:09:57.956,1688310000
1,2023-07-02 17:09:59,343046,41.290718,2.098888,122.653879,65.942651,64.0,VLG8021,False,False,False,NaN,100.0,NaN,2023-07-02 17:09:57.956,1688310000
2,2023-07-02 17:10:00,343046,41.290718,2.098888,122.653879,65.942651,64.0,VLG8021,False,False,False,NaN,100.0,NaN,2023-07-02 17:09:57.956,1688310000
3,2023-07-02 17:10:01,343046,41.290718,2.098888,122.653879,65.942651,64.0,VLG8021,False,False,False,NaN,100.0,NaN,2023-07-02 17:09:57.956,1688310000
4,2023-07-02 17:10:02,343046,41.291656,2.101685,122.653879,65.942651,64.0,VLG8021,False,False,False,NaN,225.0,NaN,2023-07-02 17:10:01.165,1688310000

In [5]:
df.shape

(19101909, 16)

In [6]:
def haversine(lon1, lat1, lon2, lat2):
    # convert degrees to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2* np.arcsin(np.sqrt(a))
    r = 6371
    return c * r

amsterdam_lat, amsterdam_lon = 52.3676, 4.9041
barcelona_lat, barcelona_lon = 41.3851, 2.1734

In [7]:
df.drop_duplicates(subset=['icao24', 'last_position'], inplace = True)

In [16]:
df = df[['timestamp', 'icao24', 'latitude', 'longitude', 'ground_speed', "track", "baro_altitude"]]
df

,timestamp,icao24,latitude,longitude,ground_speed,track,baro_altitude
0,2023-07-02 17:09:58,343046,41.290718,2.098888,122.653879,65.942651,100.0
4,2023-07-02 17:10:02,343046,41.291656,2.101685,122.653879,65.942651,225.0
6,2023-07-02 17:10:04,343046,41.292394,2.103944,162.163358,66.755016,325.0
11,2023-07-02 17:10:09,343046,41.293837,2.108626,160.822745,68.860175,550.0
12,2023-07-02 17:10:10,343046,41.293991,2.109131,160.822745,68.860175,550.0
...,...,...,...,...,...,...,...
19101502,2023-01-07 12:05:55,505ceb,52.302778,4.764731,NaN,NaN,NaN
19101565,2023-01-07 12:06:58,505ceb,52.304420,4.767265,NaN,NaN,NaN
19101581,2023-01-07 12:07:14,505ceb,52.304615,4.767113,NaN,NaN,NaN
19101591,2023-01-07 12:07:24,505ceb,52.304638,4.767094,NaN,NaN,NaN
19101609,2023-01-07 12:07:42,505ceb,52.304640,4.767105,NaN,NaN,NaN

In [17]:
df.head()

,timestamp,icao24,latitude,longitude,ground_speed,track,baro_altitude
0,2023-07-02 17:09:58,343046,41.290718,2.098888,122.653879,65.942651,100.0
4,2023-07-02 17:10:02,343046,41.291656,2.101685,122.653879,65.942651,225.0
6,2023-07-02 17:10:04,343046,41.292394,2.103944,162.163358,66.755016,325.0
11,2023-07-02 17:10:09,343046,41.293837,2.108626,160.822745,68.860175,550.0
12,2023-07-02 17:10:10,343046,41.293991,2.109131,160.822745,68.860175,550.0

In [18]:
df.shape

(13971832, 7)

In [21]:
df = df[df['baro_altitude'] >= 10000]

In [22]:
df.head()

,timestamp,icao24,latitude,longitude,ground_speed,track,baro_altitude
279,2023-07-02 17:14:37,343046,41.413239,2.250699,280.058680,331.879375,10000.0
280,2023-07-02 17:14:38,343046,41.414267,2.249898,280.058680,331.879375,10050.0
281,2023-07-02 17:14:39,343046,41.415291,2.249195,279.177122,331.782644,10100.0
282,2023-07-02 17:14:40,343046,41.416362,2.248429,279.177122,331.782644,10150.0
283,2023-07-02 17:14:41,343046,41.417573,2.247534,279.177122,331.782644,10200.0

In [23]:
df.shape

(11438167, 7)

In [25]:
outliers = df[df['baro_altitude'] >= 50000]
outliers

,timestamp,icao24,latitude,longitude,ground_speed,track,baro_altitude
5790,2023-07-02 18:46:29,343046,52.191576,4.311428,295.082784,29.431793,83800.0
10367,2023-04-15 14:17:05,344409,44.171265,6.352142,429.773988,26.386189,59200.0
64989,2023-07-25 16:56:54,344699,50.856551,3.479385,407.843981,16.524316,125600.0
200083,2023-05-04 08:01:32,345642,43.966690,1.280738,462.904558,352.552583,109300.0
228540,2023-05-14 22:12:00,346089,50.314407,2.825944,416.885715,29.455081,52000.0
...,...,...,...,...,...,...,...
18661171,2023-07-19 12:45:07,485a35,49.644150,2.144936,503.525135,30.690550,103200.0
18761390,2023-06-28 15:23:30,485a35,51.932465,4.160690,295.236938,42.117037,91600.0
18875427,2023-07-12 22:12:44,486484,51.465454,3.687398,446.000736,27.944021,121300.0
18916098,2022-08-20 17:59:07,486493,52.143162,4.291495,279.078601,25.922337,55500.0
19046133,2023-08-09 18:23:06,503e9b,49.158371,1.528367,456.194740,23.924232,74300.0

In [27]:
flight = df[df['icao24'] == '345642']
flight

,timestamp,icao24,latitude,longitude,ground_speed,track,baro_altitude
5634978,2023-05-25 11:31:04,345642,41.378632,2.270447,243.353442,332.066009,10000.0
5634979,2023-05-25 11:31:05,345642,41.379772,2.269676,243.353442,332.066009,10050.0
5634980,2023-05-25 11:31:06,345642,41.380191,2.269363,243.353442,332.066009,10075.0
5634981,2023-05-25 11:31:07,345642,41.381378,2.268555,243.353442,332.066009,10125.0
5634982,2023-05-25 11:31:08,345642,41.382294,2.267883,244.237378,332.175904,10175.0
...,...,...,...,...,...,...,...
5672141,2023-04-10 14:39:27,345642,51.925278,4.116669,341.540332,18.965450,10025.0
5672142,2023-04-10 14:39:28,345642,51.926651,4.117432,341.540332,18.965450,10025.0
5672143,2023-04-10 14:39:29,345642,51.928323,4.118304,344.702473,18.960583,10000.0
5672144,2023-04-10 14:39:30,345642,51.929859,4.119167,340.594773,19.020122,10000.0
5672145,2023-04-10 14:39:31,345642,51.930725,4.119644,341.540332,18.965450,10000.0