In [1]:
import pandas as pd
import os

In [2]:
# Define a function to load CSV files from a specified folder and merge them into a single DataFrame
def load_csv(folder_path):
    dataframes = [] # List to store individual DataFrames
    file = 1 # Counter for file numbering in print statements

    # Loop through each file in the directory
    for filename in os.listdir(path):
        # Check if the file is a CSV
        if filename.endswith('.csv'):
            # Create full file path
            file_path = os.path.join(folder_path, filename)
            # Read the CSV file into a DataFrame
            df = pd.read_csv(file_path)
            # Add the DataFrame to the list
            dataframes.append(df)
            # Print a message indicating completion of file loading
            print("File", file, "complete")
            file += 1
    # Concatenate all DataFrames in the list into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)
    return combined_df # Return the combined DataFrame

In [3]:
# Specify the path to the folder containing CSV files
path = "Datasets/Flights"
# Load all CSV files from the specified folder and combine them
df = load_csv(path)
# Print a message indicating successful loading and combination of files
print(path, "loaded into one df.")

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 1 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 2 complete
File 3 complete
File 4 complete
File 5 complete
File 6 complete
File 7 complete
File 8 complete
File 9 complete
File 10 complete
File 11 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 12 complete
File 13 complete
File 14 complete
File 15 complete
File 16 complete
File 17 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 18 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 19 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 20 complete
File 21 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 22 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 23 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 24 complete

F:\WIN temp files\ipykernel_10052\2158103575.py:8: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File 25 complete
Datasets/Flights loaded into one df.

In [4]:
# Save the combined DataFrame to a new CSV file
df.to_csv('Datasets/Merged_Flights.csv')

In [5]:
# Display the combined DataFrame
df

,Unnamed: 0,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,callsign,onground,alert,spi,squawk,baro_altitude,altitude,last_position,hour
0,0,2022-10-01 17:22:01,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
1,1,2022-10-01 17:22:02,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
2,2,2022-10-01 17:22:03,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
3,3,2022-10-01 17:22:04,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
4,4,2022-10-01 17:22:05,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26490443,2737273,2023-04-29 20:22:19,344644,52.303562,4.765205,106.85027,58.392498,-64.0,VLG96SC,True,False,False,5346.0,NaN,NaN,2023-04-29 20:17:20.697,1682791200
26490444,2737274,2023-04-29 20:22:20,344644,52.303562,4.765205,106.85027,58.392498,-64.0,VLG96SC,True,False,False,5346.0,NaN,NaN,2023-04-29 20:17:20.697,1682791200
26490445,2737275,2023-04-29 20:22:21,344644,52.303562,4.765205,106.85027,58.392498,-64.0,VLG96SC,True,False,False,5346.0,NaN,NaN,2023-04-29 20:17:20.697,1682791200
26490446,2737276,2023-04-29 20:22:22,344644,52.303562,4.765205,106.85027,58.392498,-64.0,VLG96SC,True,False,False,5346.0,NaN,NaN,2023-04-29 20:17:20.697,1682791200
26490447,2737277,2023-04-29 20:22:23,344644,52.303562,4.765205,106.85027,58.392498,-64.0,VLG96SC,True,False,False,5346.0,NaN,NaN,2023-04-29 20:17:20.697,1682791200