In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('Datasets/Flights/File_1.csv')

F:\WIN temp files\ipykernel_12024\714561428.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Datasets/Flights/File_1.csv')

In [9]:
data

,Unnamed: 0,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,callsign,onground,alert,spi,squawk,baro_altitude,altitude,last_position,hour
0,0,2022-10-01 17:22:01,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
1,1,2022-10-01 17:22:02,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
2,2,2022-10-01 17:22:03,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
3,3,2022-10-01 17:22:04,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
4,4,2022-10-01 17:22:05,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083769,1083769,2022-10-30 22:09:35,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083770,1083770,2022-10-30 22:09:36,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083771,1083771,2022-10-30 22:09:37,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083772,1083772,2022-10-30 22:09:38,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083773,1083773,2022-10-30 22:09:39,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600

In [11]:
data.describe()

,Unnamed: 0,latitude,longitude,ground_speed,track,vertical_rate,squawk,baro_altitude,altitude,hour
count,1.083774e+06,1.083774e+06,1.083774e+06,1.061121e+06,1.061121e+06,1.061121e+06,988737.000000,1.026550e+06,1.020215e+06,1.083774e+06
mean,5.418865e+05,4.616727e+01,-7.304617e+00,4.026688e+02,1.665914e+02,8.846252e+00,4171.553842,2.860642e+04,2.944515e+04,1.665835e+09
std,3.128587e+05,4.759886e+00,2.954114e+01,1.059717e+02,1.330434e+02,1.106598e+03,1956.686909,1.268507e+04,1.290317e+04,7.464490e+05
min,0.000000e+00,2.590883e+01,-1.187069e+02,5.859176e+01,0.000000e+00,-1.888000e+04,0.000000,-1.000000e+03,-5.000000e+01,1.664597e+09
25%,2.709432e+05,4.234396e+01,1.055558e+00,3.731082e+02,2.830956e+01,-1.280000e+02,2136.000000,2.087500e+04,2.185000e+04,1.665205e+09
50%,5.418865e+05,4.649066e+01,1.647637e+00,4.414031e+02,1.551363e+02,0.000000e+00,5356.000000,3.600000e+04,3.657500e+04,1.665824e+09
75%,8.128298e+05,5.047961e+01,3.830327e+00,4.711280e+02,3.342186e+02,0.000000e+00,5533.000000,3.700000e+04,3.772500e+04,1.666454e+09
max,1.083773e+06,5.264062e+01,1.983429e+01,1.125599e+03,3.598954e+02,2.662400e+04,7777.000000,1.263000e+05,1.276750e+05,1.667164e+09